# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220515_183705
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220515_184435
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220515_205336
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_074255
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_104356
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_133126
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_153456
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_153526
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220517_201627
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220517_202031
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220523_090223
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220523_133723
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220523_133753
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220523_190326
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220523_190856
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220523_221145
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_074455
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_074455
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_074455
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_095726
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_074455
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220516_095726
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220524_083331
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220524_152532
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220524_152832
.mcreator/workspaceBackups/compressed_grass.mcreator-backup_20220607_105450
